# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pcm

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Automatically compiled library headers
*_C_ACLiC_*
*AutoDict_*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# analysis output
*.pdf
*.png
*.dot

# temporary files
*~